.container {
  width: 78%;
  margin-left: 22%;
  background-color: #e7e7e7;
  padding-bottom: 15px;
}

.hotel-head {
  background-color: white;
  padding: 0 20px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.hotel-head h4 {
  float: right;
  cursor: pointer;
}

.hotel-head .searchBar {
  width: 50%;
  /* border: 1px solid red; */
  background-color: #061424;
  background: linear-gradient(to right, #154378, #061424);
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hotel-head .searchBar input {
  width: 69%;
  height: 40px;
  text-align: center;
  background: transparent;
  outline: none;
  border: none;
  color: white;

}

.hotel-head .searchBar button {
  width: 30%;
  height: 40px;
  text-align: center;
  outline: none;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.hotel-body .sort-filter {

  width: 90%;
  margin: auto;
  display: flex;
  justify-content: right;
  margin-top: 15px;
  margin-bottom: 15px;
  /* border: 1px solid red; */
}

.hotel-body .sort-filter select {
  width: 18%;
  height: 40px;
  text-align: center;
  margin-left: 10px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* ----------------------- */

.hotel-data {
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
}

.table_head {
  border: 1px solid #eee;
  background: #103158;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  font-size: 0;
  display: flex;
  justify-content: space-between;
}

.table_head .rewHead {
  line-height: 50px;
  font-size: 14px;
  color: white;

}

.head-1 {
  width: 30%;
  display: inline-grid;
  align-items: center;
  text-align: center;
}

.head-2 {
  width: 25%;
  display: inline-grid;
  align-items: center;
  text-align: center;
}

.head-3 {
  width: 20%;
  display: inline-grid;
  align-items: center;
  text-align: center;
}

.head-4,
.head-5 {
  width: 10%;
  display: inline-grid;
  align-items: center;
  text-align: center;
}

.flight-card-list {}

.hotel-card {
  border: 1px solid #eee;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  height: 190px;
  align-items: center;
  font-size: 14px;
}

.hotel-card:hover {
  border: 1px solid #008cff;
}

.card-head-1 {
  display: flex;
  width: 30%;
  height: 170px;
  align-items: center;
}



.card-head-1 img {
  display: block;
  width: 90%;
  margin: auto;
}

.card-head-2 {
  width: 25%;
  height: 60px;
  display: grid;
  text-align: center;
  align-items: center;
  /* border: 1px solid red; */
}

.card-head-3 {
  width: 20%;
  height: 60px;
  display: grid;
  text-align: center;
  align-items: center;
  /* border: 1px solid red; */
}

.card-head-4,
.card-head-5 {
  width: 10%;
  height: 100px;
  display: grid;
  text-align: center;
  align-items: center;
  /* border: 1px solid red; */
}

.thoda-big {
  font-size: 22px;
  color: #103158;
}

.red {
  color: red;
  cursor: pointer;
}

.red:hover {
  color: rgb(255, 80, 80);
}

.green {
  color: green;
  cursor: pointer;
}

.green:hover {
  color: rgb(61, 165, 61);
}

/* flight css work done  */

/* model form work css start here */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border: 1px solid #008cff;
}


.center {
  /* border: 1px solid red; */
  justify-content: space-between;
}

.input1,
.input2 {
  float: right;
  width: 48%;
}

.input1 label,
.input2 label {
  display: block;
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
}

.input1 input,
select,
.input2 input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 10px;
}

.modal-content button {
  float: right;
  margin-top: 20px;
  font-size: 14px;
  width: 90px;
  line-height: 40px;
  text-align: center;
  outline: none;
  color: white;
  background-color: #103158;
  border: none;
}

.modal-content button:hover {
  background-color: #154378;
  transition: 0.8s;
  cursor: pointer;
}

.modal-content .margin-left {
  margin-left: 15px;

}

/* ----------------------------------- */

/* hotel css work start here */


/* ------------------ */
/* scroll bar edit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 51, 51);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}