
body {
    background-color: #e5eef4;
    font-family: 'Lato';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}
input,button,select{
    cursor: pointer;
}
/* * {
    font-family: 'Lato';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hsw_inputBoxArrow {
    align-items: center;
    display: inline-flex;
    height: 12px;
    justify-content: center;
    margin-left: 5px;
    width: 12px;
}
.hsw_inputBoxArrow::after {
    border: solid #008cff;
    border-width: 0 2px 2px 0;
    content: "";
    padding: 3px;
    position: relative;
    top: -3px;
    transform: rotate(45deg);
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #666;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 51, 51);
}
/* ...............................................Nav2 for selecting flight destination and date .................................................*/
.nav2{
    background-color: #0A223D;
    padding:10px 0px 10px 70px ;
    display: flex;
    gap: 5px;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
}
.nav2 label{
    font-size: 12px;
    color:#008cff;
    font-weight: bold;
}
.nav2 button{ 
    background:#223950;
    padding:5px 9px 0px 9px;
    border: 0;
    width: 12%;
    border-radius: 5px;
    display: grid;
    text-align: left;
    overflow: hidden;
}
.nav2 select{
    padding: 5px 0px 0px 0px ;
    font-size: 15px;
    color: white;
    background: transparent;
    border:0;
    -webkit-appearance: none;
}
.nav2 option{
    color:#4A4A4A;
}
.nav2 select:focus{
    outline: none;
}
#search{
    margin-left: 50px;
    color: white;
    text-align: center;
    align-items: center;
    padding:10px 10px 10px 10px;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgb(42,242,233);
    background: linear-gradient(90deg, rgba(42,242,233,1) 4%, rgba(64,55,212,1) 100%);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }





/* ...................................................................................................... */
/* ...........................main section.............................. */
#main{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


/* .................Filter Section............................ */

.filter-sec{
    width: 24%;
}
#heading-filter{
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bolder;
    background-color: #fff;
    width: 100%;
    padding: 25px;
    text-align: center;
    margin-bottom:-30px ;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);

}
/* ............................Filter for price (slider)................... */

.range{
    box-sizing: border-box;
    height: 150px;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    padding: 0 20px 0 20px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 10px;
  }
  .priceslider h3{
    position: relative;
    top: 55px;
    left: 20px;
  }
  
  .sliderValue{
    position: relative;
    top: 60px;
    font-size: 18px;
    color: #4A4A4A;
    margin-bottom: 0px;
    font-weight: bold;
  }

  #slide-value{
    color:#008cff ;
  }
  /* .sliderValue{
    position: relative;
    width: 100%;
  }
  .sliderValue span{
    position: absolute;
    height: 45px;
    width: 45px;
    transform: translateX(-200%) scale(0);
    font-weight: 500;
    top: -10px;
    line-height: 55px;
    z-index: 2;
    color: #fff;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    text-align: center;

  }
  .sliderValue span.show{
    transform: translateX(-50%) scale(1);
  }
  .sliderValue span:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #008cff;
    border: 3px solid #fff;
    z-index: -1;
    left: -50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  } */
  .field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  .field .value{
    position: absolute;
    font-size: 16px;
    color: #008cff;
    font-weight: 600;
  }
  .field .value.left{
    bottom:40px;
    left: 0px;
  }
  .field .value.right{
    right: -0px;
    bottom: 40px;
  }
  .range input{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
  }
  .range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #008cff;
    border: 1px solid #008cff;
    cursor: pointer;
  }
  .range input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #664AFF;
    border: 1px solid #664AFF;
    cursor: pointer;
  }
  .range input::-moz-range-progress{
    background: #664AFF; 
  }

  #filterbyPriceBtn{
    border: none;
    position: relative;
    top: -155px;
    right: -210px;
    color: white;
    text-align: center;
    padding:7px 10px  ;
    border-radius: 10px;
    font-size: 12px;
    background: #008cff;
    cursor: pointer;
    /* background: linear-gradient(90deg, rgba(42,242,233,1) 4%, rgba(64,55,212,1) 100%); */
  }


/* ......................Filter for Airline */
.fairline{
    display: grid;
    gap: 5px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);

}
.fairline .small{
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}
.filter-sec input[type=checkbox]{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 0px;
    margin-right: 10px;
}
.filter-sec p{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    color: #4A4A4A;
    margin-bottom: 0px;
}

#filterbyAirlineBtn{
    width: auto;
    border: none;
    top: -190px;
    right: -230px;
    position: relative;
    color: white;
    text-align: center;
    padding:7px 10px  ;
    border-radius: 10px;
    font-size: 12px;
    background: #008cff;
    cursor: pointer;
}





/* Right side container for displaying flights information */

#Right-side-container {
    display: flex;
    justify-content: space-between;
    width: 72%;
    gap: 10px;
}

/* Oneward flights */
#one-ward-fligts {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#one-ward-flight-info {
    background-color: #FFFFFF;
    padding: 10px 20px 20px 20px;

}

.sort-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f4f4f4;
    padding: 10px;
    font-size: small;
    margin: 25px 0px 0px 0px;
    text-align: center;
}

#one-ward-departure-sort,#one-ward-duration-sort,#one-ward-arrival-sort,#one-ward-price-sort{
    cursor: pointer;
}

#one-departure-sort-arrow,#one-duration-sort-arrow,#one-arrival-sort-arrow,#one-price-sort-arrow{
    display: none;
}

.left-sort-button-arrow {
    margin-left: 5px;
}


.one-ward-flight-list-cards {
    display: flex;
    flex-direction: column;
}

/* Cards for one-ward flights */

.one-ward-card {
    background-color: #FFFFFF;
    padding: 10px 20px 30px 20px;
    margin-top: 5px;
}

.flight-name-logo {
    align-items: center;
}

.flight-img-logo {
    height: 30px;
    margin-right: 10px;
}

.flight-details {
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}

.flight-time {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-place {
    font-size: small;
}

.duration {
    font-size: small;
}

.no-stop {
    font-size: 10px;
}

.price {
    font-weight: bold;
    font-size: large;
}

.select-flight {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/* Return flights */
#return-fligts {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#return-flight-info {
    background-color: #FFFFFF;
    padding: 10px 20px 20px 20px;

}

#return-departure-sort,#return-duration-sort,#return-arrival-sort,#return-price-sort{
    cursor: pointer;
}

.return-sort-button-arrow {
    margin-left: 5px;
}


.return-flight-list-cards {
    display: flex;
    flex-direction: column-reverse;
}

/* Cards for one-ward flights */

.return-card {
    background-color: #FFFFFF;
    padding: 10px 20px 30px 20px;
    margin-top: 5px;
}


/* Selected Fligth detail */

#selected-flight{
    position: fixed;
    bottom: 10px;
    right: 40px;
    width: 70%;
    background-color:#0a223d ;
    display: flex;
    color: #fff;
    padding: 0px 20px;
    justify-content: space-between;
    display: none;
    
}

#bookNowBtn{
    background-image: linear-gradient(97deg,#53b2fe,#065af3 130%);
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
    font-weight: 900;
    outline: none;
    border: none;
    padding: 12px 30px;
}
#lockPriceBtn{
    background-color: #0a223d;
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
    font-weight: 900;
    outline: none;
    border: 2px solid #fff;
    padding: 10px 28px;
}

#selected-on-ward-time-1,#selcted-on-ward-time-2,#selected-return-time-1,#selected-return-time-2,#selected-departure-price,
#selected-return-price
{
    font-weight: bold;
}

#total-price{
    font-weight: bold;
    font-size: 1.5em;
    margin: 0px;
    margin-right: 20px;
}
#total-price-div{
    width: 350px;
    text-align: center;
    justify-content: right;
    align-items: center;
}

.small-blue{
    font-size: smaller;
    color: #32c5ff;
}

#selected-departure-price,#selected-return-price{
    margin-left: 50px;
}
.vertical-line{
    height: 50px;
    width: 0px;
    border: 1px solid white;
}

#return-selected-box{
    display:none;

}
#rsb-hr{
    display: none;
}




/* Input Taking Css */


.flight1 {
    /* margin-left: 15px; */
    color: rgb(33, 32, 32);
    width: 270px;
    border-right: 1px solid rgb(221, 220, 220);
    /* border:1px solid rgb(131, 128, 128); */
    padding: 0px;
}

.flight2 {
    /* margin: 15px; */
    color: rgb(33, 32, 32);
    width: auto;
    border-right: 1px solid rgb(221, 220, 220);
    /* border:1px solid red; */
}

.flight3 {
    color: rgb(33, 32, 32);
    width: 150px;
    border-right: 1px solid rgb(221, 220, 220);
    /* border:1px solid red; */
}

.flight4 {
    margin: 15px;
    color: rgb(33, 32, 32);
    width: 150px;
    border-right: 1px solid rgb(221, 220, 220);
    /* border:1px solid red; */
}


.flight1 h1 {
    margin: 0;
    color: white;
}

.flight2 h1 {
    margin: 0;
    color: white;
}

.flight3 h1 {
    margin: 0;
}

.flight4 h1 {
    margin: 0;
}

.flight5 h1 {
    margin: 0;
}


#input1 {
    width: 95%;
    height: 50%;
    margin-bottom: -40px;
    outline: none;
    color: rgb(76, 74, 74);
    display: none;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

#down_bar {
    width: auto;
    max-height: 200px;
    margin-top: 45px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-color: white;
    color: black;
    display: none;
    z-index: 1;
    position: fixed;
    /* border:1px solid red; */
    padding: 0px 10px;
    overflow: hidden;
}

#input2 {
    width: 95%;
    height: 70%;
    margin-bottom: -40px;
    outline: none;
    color: rgb(76, 74, 74);
    display: none;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

#down_bar1 {
    width: auto;
    max-height: 200px;
    margin-top: 41px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-color: white;
    color: black;
    display: none;
    z-index: 1;
    position: fixed;
    /* border:1px solid red; */
    padding: 0px 10px;
    overflow: hidden;
}

#calendor {
    outline: none;
    border: none;
    text-decoration: none;
}


#span1,#span3{
    color: #008cff;
    margin-bottom: 0px;
}

#select_number{
    /* border:1px solid red; */
    font-size: 16px;
    background-color: #223950;
    color: #223950;
}

option:not(:checked) {
    background-color: #FFF;
 }

.suggestion_name {
    /* padding: 6px 0px; */
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    /* font-family: sans-serif;
    font-weight: 600; */
    color: rgb(63, 63, 63);
    cursor: pointer;
}
